@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container_lang{
    background-image: url("../../Images/wepik-2022321-185648.jpg");
    
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 100%;

}
.item_1{
    width: 50%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  background-color: rgb(127, 0, 255,0.7);
}
    
.item_1 > h1{
    color: white;
    font-family:'Poppins', "sans-serif"; 
    font-size: 350%;
    font-weight: 700;
    /* transition: box-shadow 500ms; */
    background: rgba(255, 255, 255, 0.2);
     box-shadow: 1px 1px 30px -5px #20202049; 
     backdrop-filter: blur(1px);
     border: rgba(255, 255, 255, 0.18);
     padding: 5% ;

}

.item_1 > p{
    color:white;
    font-family:'Poppins', sans-serif; 
    font-size: 280%;
    font-weight: 700;
    padding: 5% ;
    background: rgba(255, 255, 255, 0.2);
     box-shadow: 1px 1px 30px -5px #20202049; 
     backdrop-filter: blur(1px);
     border: rgba(255, 255, 255, 0.18);
     margin-top: 10%;

}



.wrap {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: -9%;
  }
  
  .btlp {
    min-width: 35%;
    font-family: 'Nunito', sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 900;
    color: white;
    background: #f89669f1;
  background: linear-gradient(90deg, rgb(238, 169, 90) 0%, rgb(221, 130, 93) 100%);
    border: none;
    border-radius: 10rem;
    box-shadow: 1px 1px 30px -5px #20202049; 

    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    /* padding: 1%; */
    right: 10%;
    margin-top: 13%;
    }
  
  .btlp::before {
  content: '';
    border-radius: 10rem;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #f89669f1;
    box-shadow: 0 0 60px rgba(238, 148, 63, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .btlp:hover, .button:focus {
    color:#f89669f1;
    background: white;
    transform: translateY(-6px);
  }
  
  .btlp:hover::before, button:focus::before {
    opacity: 1;
  }
 



  /* button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  } */
  
  /* button:hover::after, button:focus::after {
    animation: none;
    display: none;
  } */
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

.item_2{
  width: 50%;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: baseline;
margin-right: 1%;

}

  .item_2 >p {
    /* margin-bottom: 30rem; */
    color: #343434;
    font-weight: 700;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.38);
    border-radius: 10px 0px 0px 10px;


  }
  .item_2 >a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600; 
    background: rgba(255, 255, 255, 0.38);

  
  }

  .item_2 a:hover{
    opacity: 0.8;
}
.item_2 .fa{
    font-size: 20px;
}

 @media screen  and (max-width: 550px){ 
   .container_lang{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 100vh;
     max-width: 100%;
     margin: 0;
padding: 0;

   }
  .item_1{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-color: rgb(127, 0, 255,0.7);
}
.item_1 h1{
  font-size: 200%;
  padding-top:5%;
  width: 100%;
}
.item_1 >p{
  display: block;
  font-size: 150%;
  word-wrap: break-word;
  margin-top: 1%;
 
}
.wrap{
  width: 100%;
margin-top: 1%;
}

.btlp{
  border:solid;
  background-color: gray;
  width: auto;
  font-size: 140%;
  right: 0;
  bottom: 19%;
  
} 



.item_2{
  margin: 0;
	padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-top:solid;
  border-color: #7a7a7a;
  background: rgba(255, 255, 255, 0.68);

} 

.item_2 p{
  margin: 0;
  padding: 6%;
  width: 100%;
  height: 100%;
  background: none;

}
.item_2 a{
  margin: 0;
  padding: 4.8%;
  background: none;

  width: 100%;
  height: 100%;
  }     
  .itemInstagram{
    display: none;

  }

  }
    