.sorpresa{
    width: 85.1rem;
    height: 100vh;
    background: salmon;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;


}
 .sorpresa >div{
    width: 50%;
    height: 100%;
    border-right:solid;
}
 .itemquestion1{
    height: 35%;
}
.itemquestion2{
    height: 65%;

}

 .itemquestion1>h1{
     padding-top: 4rem;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 2.7rem;
    color: rgb(254, 255, 255);
}
.itemquestion1>button{
    border-radius: 5px 5px 5px 5px ;
    width: 85%;
    position:relative;
    left: 2rem;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.7rem;
    color: rgb(254, 255, 255);
    text-align: center;
}
.itemquestion1>button:hover{
    background: rgb(170, 81, 170);
}
.itemquestion2 >h2{
    padding-top: 5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 2.7rem;
    color: rgb(254, 255, 255);
}



 .randondiv{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 5rem;
}
.randondiv>h2{
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 2.4rem;
    color: rgb(254, 255, 255);
    margin-left: 5rem;
    overflow:hidden;

}


 .randondiv>img{
     position: relative;
     width: 7rem;
     border-radius: 1rem;
     margin-right: 6rem;
 }
 .padresecundario{
     margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .borrar{
     border: transparent
 }
 .padresecundario >button{
     width: 15rem;
border-radius: 10px 10px  10px 10px ;
color:white;
text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.3rem;
    cursor: pointer;
    background: #96928d;
    overflow:hidden;


}  

.padresecundario >button:hover{
    background:  #ffc107;
}
.mitad{
    width: 50%;
}
.perfect{
    width: 100%;
    height: 5rem;
    background-color: rgb(82, 119, 26);
    color:white;
text-align: center;
    font-family: 'Poppins', sans-serif; 
    font-size: 2rem; 
    overflow:hidden;

}

.segui{
    position:absolute;
    color:white;
text-align: center;
    font-family: 'Poppins', sans-serif; 
    width: 42.5rem;
    height: 5rem;
    background-color: rgb(245, 12, 12);
    font-size: 2rem; 
    bottom: 1.1rem;
    overflow:hidden;

}
.ocultar{
    display: none;
}



@media screen  and (max-width: 550px){ 
    .sorpresa{
      max-width: 100%;
      font-size: medium;
     
      height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-around;
    } 
    .sorpresa div{
        width: 100%;
        height: auto;
        border:none;
    }
    .sorpresa h1 {
        font-size:larger;

    }
    .sorpresa h2 {
        font-size:larger;

    }

    .sorpresa button {
        font-size:larger;
        word-wrap: break-word;

    }
.itemquestion2{
    margin-top:-5rem;
}
.paus{
    position: relative;
    top:-5rem;
}
.mitad{
    position: relative;
    top:-8rem;

}
.segui{
    position: relative;
    margin-top:1rem
}

}