
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.container{
/* height: auto; */
/* width: 84.6rem; */
height: 100vh;
     max-width: 100%;
}

header{
    height: 7rem;
    border-bottom:solid ;
    border-color: rgb(127, 0, 255,0.6);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    justify-items: center;
    background: rgb(127, 0, 255,0.6);
    /* chequer el end */
}
 header >div{
   align-self: center;
   width:3.5rem;
   height:3.5rem;
   border-radius: 2rem;

 }
 .iconFontRecarga{
  border-radius: 2rem;
cursor:pointer;
  text-align: center;
  width:2.7rem;
  height:2.7rem;
  color: aliceblue;
  padding: 0.4rem;

 }
 .iconRecarga:hover {
   background: rgb(255, 255, 255,0.6);
   transition: all .3s ease-in-out 0s;
   color: #f89669f1;
   transform: scale(1.05);
   }
   .iconFontRecarga:hover{
    color: #f89669f1;
    transition: all .3s ease-in-out 0s;
    transform: scale(1.05);

    }


.bth{
  align-self: center;
  width: 13rem;
  border-radius: 12px 12px 12px 12px;
  border-color: white;
  margin-right: 2rem;

}
.bth:hover{
  transform: scale(1.05);
  color:  white;
  background-color: grey;

  transition: all 600ms;
}



.link{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 1.2rem;
color: aliceblue;
}




.paginado{
    height: 20%;
    border-top:solid;
    border-color: rgb(127, 0, 255,0.6);
    background: rgb(127, 0, 255,0.6);

}
.container1{
  background-image: url("https://img.freepik.com/foto-gratis/equipaje-amarillo-plano-espacio-copia_23-2148786124.jpg?t=st=1650561047~exp=1650561647~hmac=af1c56ce5c0663fae0cb4840799719720eedf2d06a8bacbdaf7b049bb7064575&w=900");
  background-repeat : no-repeat;
  background-position: center;
  background-size :cover;
  position: relative;

    display: flex;
justify-content: space-around;
align-items: stretch ;  
width: 100%;
}
section{
    display: flex;
    width: 80%;
    flex-direction: row;   
    flex-wrap: wrap;     
    justify-content: space-around;  

}
aside{
    border-left:solid rgb(127, 0, 255,0.6);
    background: transparent;
    width: 20%;
    padding: 0;
    margin: 0;
    
}

.box {
    padding: 2.3rem;
    margin: 2.3rem;
    margin-left: -1.9rem;
    
  }
  
  .grid-responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
   
  } 

  /* @media screen and (min-width: 500px) {

    .car {
      padding-left: 10rem;
    }
  }
   */
  @media (max-width: 500px) {
    .container {
      flex-direction: column;
    }
  }

  
 @media screen  and (max-width: 550px){ 
  .container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100vh;
    max-width: 100%;
    /* background: yellow; */

  }
  header{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    height: 20vh;
  }
  header div{
    position: absolute;
    right: 0;
    top:0;
    width: 10%;
    height: 10%;
  }
  .iconFontRecarga{

    width: 60%;
    height: 60%;
  }

.bth {
  margin: 0;
  padding: 0;
  height: 10%;
  /* border: solid; */
  width: auto;
  height: auto;
}
.link{
  width: auto;
  height: 30%;
}
  .container1{
    display: flex;
    flex-direction: column-reverse;
    border-radius: none;
    border: none;
    background-image:none;
    background:  rgb(127, 0, 255,0.3);



  }
  section{
    margin:0;
    padding:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 .car{
   margin-left: 3%;
 }
  aside{
    width: 100%;
    border:none;  

  }
  /* .car{
    margin-left:1% ;
  } */











.paginado{
  display: block;
  height: 10%;
}



}